doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Signup
        script(src='//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js')
        script.
            window.onload = function() {
                document.getElementById("address_kakao").addEventListener("click", function() {
                    new daum.Postcode({
                        oncomplete: function(data) {
                            document.getElementById("address_kakao").value = data.address;
                        }
                    }).open();
                });
            }
    body 
        if(message)
            h4 #{message}
            form(action="/signup" method="POST")
                input(name = "id" type = "text" require placeholder = "User ID")
                input(name = "password" type = "password" require placeholder = "Password")
                input(name = "address" type = "text"  require placeholder = "Address" id="address_kakao")
                button(type = "submit") Sign Up!